
/** necessary for form item cards to be able to be collapsed */
div.show, div.collapsing {
  display: none;
}


/* Special case for root level form items 
.form-item.root-item {
  display: block;
  margin-bottom: 24px;
} */

.form-item.root-item > div {
  width: 100%;
}
 
.form-head {
  width: default !important;
}

.form-builder h5 {
  line-height: 12px !important;
  margin: 0px !important;
}

.form-builder h4 {
  display: inline !important;
}

.form-builder > div {
  padding: 2px !important;
  width: 100% !important;
}

.form-builder .card-container {
  width: 100% !important;
}

div.collapse > div > div {
  margin: 0px !important;
}

.form-builder .card-entry > h5, .form-builder .card-entry > div {
  display: inline !important;
}

.form-builder .card-entry > h5, .form-builder .card-entry > .card-select {
  display: block !important;
}


.form-builder .card-entry {
  padding: 0px !important;
}

/** drop the info buttons */
.form-builder .card-entry > h5 span {
  display: none;
}



.form-builder .card-entry-row {
  display: flex !important;
}

.form-builder .card-entry-row > .card-entry {
  display: inline !important;
}
