/* General form item layout */
.form-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.form-item label {
  padding-right: 16px;
  font-weight: bold;
  min-width: 120px;
  text-align: right;
  padding-top: 4px; /* Align with input fields */
}

/** necessary for form item cards to be able to be collapsed */
div.show, div.collapsing {
  display: none;
}


/* Special case for root level form items 
.form-item.root-item {
  display: block;
  margin-bottom: 24px;
} */

.form-item.root-item > div {
  width: 100%;
}
 
.form-head {
  width: default !important;
}

.form-builder h5 {
  line-height: 12px !important;
  margin: 0px !important;
}

.form-builder span.toggle-collapse {
  display: inline-block !important;
}

.form-builder h4 {
  display: inline !important;
}

.form-builder > div {
  padding: 2px !important;
  width: 100% !important;
}
/*
.form-builder .card-container {
  width: 100% !important;
}

.form-builder .d-flex {
  color: #0b0 !important;
}

.form-builder .toggle-collapse span {
  display: inline !important;
}


.form-builder .card-entry-row {
  display: inline !important;
  width: 100% !important;
}
.form-builder .card-entry h5, .form-builder .card-entry div {
  display: inline !important;
}

.form-builder .card-entry-row {
  display: flex !important;
}

.form-builder .card-entry-row > * {
  display: inline !important;
}


   */